# frontend
frontend/node_modules
frontend/dist

# backend
backend/.venv
backend/mfstat.db
backend/db_backups
backend/.pytest_cache
backend/.pyinstaller
backend/build
backend/dist
backend/*.spec
**/__pycache__/
*.pyc

# local build metadata
frontend/*.tsbuildinfo
frontend/vite.config.js
frontend/vite.config.d.ts

# os/editor
.DS_Store
